.sidebar{
    width:20vw;
    height:100%;
    overflow: auto;
    background-color: #F08000;
    position: fixed;
    top:0;
    left:0;
    display: flex;
    flex-direction: column;
}

.sidebar a{
    overflow-y: hidden;
}

.sidebar-heading{
    margin-top: 8vh;
    margin-left: 2vw;
    margin-bottom:7.5vh;
    font-family: "Montserrat";
    color:white;
}

.adminbutton-list{
    height:70%;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left:2vw;
}

.flex-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left:1vw;
    padding-top:1vh;
    padding-bottom:1vh;
    transition: 0.5s;
    overflow-y: hidden;
}

.flex-container-active{
    display: flex;
    flex-direction: row;
    margin-right: 2vw;
    padding-top:1vh;
    padding-bottom:1vh;
    padding-left:1vw;
    align-items: center;
    background-color: black;
    /* #7DB6E8 */
    color:white;
    border-radius: 10px;
    transition: 0.5s;
    overflow-y: hidden;
}

.flex-container p,
.flex-container-active p{
    margin-left: 1vw;
}

.hr{
    border:2px solid white;
    margin-right: 2vw;
}